@font-face {
    font-family: "regular";
    src: url("../fonts/SKYokDeve-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "bold";
    src: url("../fonts/SKYokDeve-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "medium";
    src: url("../fonts/SKYokDeve-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


* {
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
    color: lightgoldenrodyellow;
    list-style-type: none;
    text-decoration: none;
    font-family: regular;
    text-align: center;
    scrollbar-width: none; 
    -ms-overflow-style: none;
}
body {
    background-color: #060b03;
    padding:0 0 50px 0;
}
html::-webkit-scrollbar {
    display: none;
} 
    

h1 {
    text-align: center;
    font-size: 60px;
    font-family: medium;
    margin: 0 0 30px 0;
    padding: 10px 0 10px 0;
    background-color: #2c7ff9;
}
nav a {
    font-size: 25px;
    margin: 0 15px;
    background-color: #2c7fb4;
    border: 2px solid lightgoldenrodyellow;
    padding: 5px 10px;
    box-shadow:4px 4px;
}
nav a:hover {
    background-color: #2c4da0;
}
nav a img {
    max-width: 20px;
    transform: translateY(20%);
    height: auto;
    vertical-align: center;
}








#about{
    text-align: center;
    margin: auto;
    max-width: 450px;
    width: 80%;
    line-height: 1.5;
    font-size: 20px
}
#abouth2 {
    font-size: 40px;
    font-family: medium;
    background-color: #2c7ff9;
}
#aboutp {
    margin: 10px 0 10px 0;
    text-align: justify;
    text-indent: 1.5em;
}
.parentpickle {
    margin: 50px 0 30px 0;
    width: 100%;
    text-align: center;
}
.pickle {
    width: 50%;
    max-width: 500px;
}
#social img {
    width:20px;
    vertical-align: middle;
}
#about{
    text-align: center;
    margin: auto;
    max-width: 450px;
    width: 80%;
    line-height: 1.5;
    font-size: 20px
}
#abouth2 {
    font-size: 40px;
    font-family: medium;
    background-color: #2c7ff9;
}
#aboutp {
    margin: 10px 0 10px 0;
    text-align: justify;
    text-indent: 1.5em;
}
